button {
  font-size: 0.9rem;
  background-color: midnightblue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}

.step {
  margin: auto;
  display: flex;
  width: min-content;
}

.step > * {
  margin: auto 5px;
  padding: 10px;
  width: max-content;
}
