button {
  font-size: 0.9rem;
  background-color: midnightblue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  width: max-content;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

hr {
  width: 100%;
}

input {
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.main-menu {
  text-align: left;
}

.step-outer {
  margin: auto;
  display: flex;
  max-width: min(95vw, 800px);
}

.step-inner {
  margin: auto;
  display: flex;
  align-items: center;
}

.step-inner > * {
  margin: auto 5px;
  padding: 10px;
}

.emphasize-key {
  font-weight: bold;
  color: goldenrod;
}
